html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* HEADER Section */
/* Header - Left Side */
.header-container {
  height: 4rem;
  width: 100%;
  background-color: #008b8b;

  display: block;
  position: fixed;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-content: center;

}

.header-left {
  font-family: "Faster One", sans-serif;
  font-size: 2rem;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.header-left img {
  width: auto;
  height: 2rem;
  padding-left: 1.5rem;
}

.colmar-text {
  color: #000;
  padding-left: 1rem;
}

.academy-text {
  color: #E89B00;
  padding-left: 1rem;
}

/* Header - Right Side */

nav {
  font-size: 1.125rem;
  font-weight: bolder;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

nav a {
  padding-left: 1rem;
}

/* BODY Section */

.body-container {
  width: 100%;
  top: 2.75rem;  /* 2rem is touching bottom of header */

  display: block;
  position: absolute;
  z-index: 1;

  background-color: rgba(60, 170, 170, 0.2);

  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Body - Top Container */

.body-container.top {
  width: auto;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.body-container.top img {
  width: 60%;
  height: auto;
  padding: 1.5rem 0 1.5rem 1.5rem;  /* Used the same padding around; not as in mock-up */
}

.top-center {
  width: 2%;
}

.top-right {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-right: 1.5rem;
}

.top-right.top {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 2rem;
}

.top-right.middle {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 2rem;
}

.top-right.bottom {
  align-self: center;
}
