html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* "Start Here" button in top .body-container.top */
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 2px 2px 4px #666666;
  -moz-box-shadow: 2px 2px 4px #666666;
  box-shadow: 2px 2px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* HEADER Section */
/* Header - Left Side */
.header-container {
  height: 4rem;
  width: 100%;
  white-space: nowrap;  /* Prevents wrapping of nav-bar text */
  background-color: #008b8b;

  display: block;
  position: fixed;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-content: center;

}

.header-left {
  font-family: "Faster One", sans-serif;
  font-size: 2rem;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.header-left img {
  width: auto;
  height: 2rem;
  padding-left: 1.5rem;
}

.colmar-text {
  color: #000;
  padding-left: 1rem;
}

.academy-text {
  color: #E89B00;
  padding-left: 1rem;
}

/* Header - Right Side */
header nav {
  font-size: 1.125rem;
  font-weight: bolder;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 3rem;  /* Keep gap between left and right side of header 3+1rem (64px) minimum */
}

header nav a {
  padding-left: 1rem;
  transition: font-size 100ms 100ms;
}

header nav a:hover {
  font-size: 1.25rem;
}

/* BODY Section */
.body-container {
  width: 100%;
  margin-top: 5.5rem;  /* 1.5rem under header */

  /*display: block;*/
  position: absolute;
  z-index: 1;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-cont-1st img,
.main-cont-2nd img,
.main-cont-4th img {
  filter: drop-shadow(8px 8px 10px darkslategray);
}

/* 1st (from top) Main Container */
.main-cont-1st,
.main-cont-2nd,
.main-cont-3rd,
.main-cont-4th{
  width: 64rem;   /* Corresponds to 1,024px width */
  margin: 0 1.5rem 1.5rem 1.5rem;

  background-color: rgba(60, 170, 170, 0.2);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.main-cont-1st img {
  padding: 1.5rem;  /* Used the same padding around; not as in mock-up */
}

.main-cont-1st-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;

  padding-right: 1.5rem;
  /*min-width: 19.2rem; /* not narrower than 40% of 768px (tablet width in portrait) */
}

.mc1-right.top,
.mc2-left.headline,
.main-cont-3rd-header,
.main-cont-4th-header {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

.mc1-right.middle {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 2rem;
}

/* 2nd (from top) Main Container */
/* Left side of 2nd container */
.main-cont-2nd-left {
  width: 60%;
  padding: 1.5rem;
}

.main-cont-2nd-left img {
  padding-bottom: 1.5rem;
}

.quote {
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

.mc2-left.author {
  font-size: 0.75rem;
}

a {
  color: #3498db;
}

/* Right side of 2nd container */
.main-cont-2nd-right {
  width: 40%;
  padding: 1.5rem 1.5rem 0 0;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mc2-right.top img,
.mc2-right.middle img,
.mc2-right.bottom img {
  width: 35%;
  height: auto;

  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.mc2-right.top,
.mc2-right.middle,
.mc2-right.bottom {

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.mc2-right-text-section {
  padding-bottom: 1.5rem; /* Centering text; cancelling out bottom padding for '.mc2-right.top img' */
}

.main-cont-2nd .heading,
.main-cont-2nd .short-text {
  padding-bottom: 1rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 900;
}

/* 3rd (from top) Main Container */
.main-cont-3rd {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-cont-3rd img {
  width: 15.625rem; /* Image width 250px */
  height: auto;
}

.main-cont-3rd-first-row,
.main-cont-3rd-second-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  padding: 0 4.5rem 2rem 4.5rem;
}

.mc3-1r-middle,
.mc3-2r-middle {
  margin: 0 2rem;
}

.main-cont-3rd-header,
.main-cont-4th-header {
  padding: 2rem 0;
}

.main-cont-3rd .heading {
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
}

.main-cont-3rd .short-text {
  text-align: left;
  line-height: 1.1;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.mc3-1r-left,
.mc3-1r-middle,
.mc3-1r-right,
.mc3-2r-left,
.mc3-2r-middle,
.mc3-2r-right {
  width: 15.625rem;
  height: 16.5rem;
  background-color: #fff;
  filter: drop-shadow(8px 8px 10px darkslategray);
  transition: background-color 1s;
}

.mc3-1r-left:hover,
.mc3-1r-middle:hover,
.mc3-1r-right:hover,
.mc3-2r-left:hover,
.mc3-2r-middle:hover,
.mc3-2r-right:hover {
  background-color: #fafad2;
}

/* 4th (from top) Main Container */
.main-cont-4th {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-cont-4th-body {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}

/* Left side of 4th container */
video {
  width: 35.7rem;  /* 571.2px or (1,024 - 3x24px) x 0.6 */
  height: auto;
  padding-bottom: 1.5rem;
}

.main-cont-4th-left {
  width: 60%;
  padding-left: 1.5rem;
}

/* Right side of 4th container */
.main-cont-4th-right {
  width: 40%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mc4-right.top img,
.mc4-right.bottom img {
  width: 35%;
  height: auto;

  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.main-cont-4th .heading,
.main-cont-4th .short-text {
  padding-bottom: 1rem;
}

.mc4-right.top,
.mc4-right.bottom {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

/* Footer */
footer {
  width: 100%;
  height: 4rem;
  background-color: #008b8b;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  white-space: nowrap;
}

.footer.left {
  padding-left: 1.5rem;
}

.footer.right {
  padding: 0 1.5rem;
}

.footer.right span {
  width: 1.5rem;
}

.privacy {
  padding-left: 1.5rem;
}
